* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17.5px;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: azure; */
}

header {
    position: fixed;
    top: 0;
    /* z-index: 2; */
    background-color: #aaa;
    width: 100%;
    padding: 16px 25px 25px;
}

hr {
 box-sizing: content-box;
 /* height: 0; */
 overflow: visible;
 margin-top: 1rem;
 margin-bottom: 1rem;
 border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

 header p {
   width: 50%;
   justify-content: flex-start;
   padding: 5px;
   font-size: 1.5em;
   color: #fff;
 }

 header .container {
   display: flex;
   flex-direction: row;
 }

 hr.header-line {
   border: 8px solid #e5e5e5;
   clear: both;
 }

 header button {
   justify-content: flex-end;
   margin-left: auto;
   border: 1px solid transparent;
   background-color: transparent;
   font-size: 1.7em;
   color: #fff;

 }

 header button span {
   background-color: transparent;
 }

 .profile-image {
   text-align: center;
   margin: 30px 0 25px;
 }

 .profile-image button {
   margin: 2% 0 2%;
   border: 1px solid transparent;
   background-color: transparent;
   font-size: 1.5em;
   color: #808080;
 }

 .profile-image button:focus {
   background-color: transparent;
   border: 1px solid transparent;
   outline: 0;
 }

 .upload-img {
   background-image: url("../images/nexbuy-logo-bw.png");
   background-size: contain;
   border-radius: 50%;
   width: 150px;
   height: 150px;
   margin: auto;
 }

 select {
   word-wrap: normal;
 }

 option {
   background-color: #fff;
 }

 .profile-inputs {
   display: flex;
   flex-direction: column;
   padding: 10px;
 }

 .profile-inputs label {
   color: #808080;
   font-size: 0.9em;
 }

 .profile-inputs input {
   border-radius: 10px;
   border: 1px solid #aaa;
   background-color: #dfdfdf;
   font-size: 1.1em;
   padding: 6px 10px;
   margin: 5px 0 18px;
 }

 .profile-inputs textarea {
   border-radius: 12px;
   border: 1px solid #aaa;
   font-size: 1.1em;
   padding: 6px 10px;
   margin: 5px 0 18px;
   overflow: hidden;
   background-color: #dfdfdf;
 }

 select option[data-default] {
  color: #888;
}

 .profile-inputs select {
   color: #707070;
   border-radius: 10px;
   border: 1px solid #aaa;
   font-size: 0.85em;
   padding: 9px;
   margin: 5px 0 10px 0;


   background-color: #dfdfdf;
   /* default styling arrow */

   appearance: none;
   -webkit appearance: none;
   -moz appearance: none;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
   background-position: right 15px top 50%;
   background-repeat: no-repeat;
   background-size: 10px;
   padding-right: 30px;

 }



 .select:hover,.select:focus, .profile-inputs textarea:hover,.profile-inputs textarea:focus, .profile-inputs input:hover,.profile-inputs input:focus {
   outline: none;
   box-shadow: 0 0 4px #707070;
 }

 .profile-inputs label {
   margin-left: 5px;
 }

 ::placeholder{
   font-size: 0.8em;
 }

 .brand-list p {
   font-size: 0.7em;
   margin: 2px;
   padding: 2px;
   color: #656565;
 }

 .brand-list p:first-child {
   font-weight: 700;
 }

.brand-list hr {
  margin: 5px;
 }

 .select-brand {
   width: 30%;
   margin-left: auto;
 }

 .select-brand button {
   padding: 6px 4px;
   /* font-size: 0.95em; */
 }



 .terms {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: center;
  vertical-align: middle;
  /* width: 100%; */
 }

 .terms input[type="checkbox"] {
   width: 30px;
   height: 30px;
   align-self: center;
 }

.terms p {
  margin-left: 10px;
  font-size: 0.85em;
}

.terms a {
  text-decoration: none;
}

.red {
  color: red;
  font-size: 0.88em;
  font-weight: 700;
}

.submit {
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 30px auto;
}

.submit-btn {
  background-color: red;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px;
  color: #fff;
  font-size: 1.1em;
  display: inline-block;
  width: 100%;
  transition: .3s;
}

.submit-btn:hover, .submit-btn:focus {
  outline: none;
}

.submit-btn:active {
  opacity: .6;
  transition: 0.3s;
  transform-origin: center;
}



/* Media Querries */

@media (max-width:767.9px) { /*Phones*/
  .terms input[type="checkbox"] {
    width: 28px;
    /* height: 30px; */
  }

  hr.header-line {
    margin-top: 70px;
  }

  header p {
    width: 70%;
    justify-content: flex-start;
    padding: 3px;
    font-size: 1.3em;
    color: #fff;
  }

  .container {
    width: 95%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .select-brand {
    width: 40%;
  }

  .select-brand button {
    padding: 6px 4px;
    font-size: 0.95em;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 70%;
  }

  hr.header-line {
    margin-top: 80px;
  }

  .terms input[type="checkbox"]:checked {
    background-color: #606060;
  }
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }

  hr.header-line {
    margin-top: 80px;
  }

  .terms input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}


/* edit store */
/* upload produ */
